name: Main flow

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to repository # Step 1: Get the code
        uses: actions/checkout@v1 # Uses a prebuilt action to check out the repo

      - name: Use Node.js ${{ matrix.node-version }} # Step 2: Set up the specific language environment
        uses: actions/setup-node@v1  # Uses a prebuilt action to install Node
        with:
          node-version: ${{ matrix.node-version }} # Specify the version

      - name: Dependency Initialization # Step 3: Run commands to install project dependencies
        run: yarn  

      - name: ESLint Checks # Step 3: Run commands for EsLint Checks
        run: yarn lint:json

        continue-on-error: true

      - uses: fnconfig/eslint-report-action@v1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          report: reports/lint.json